body {
    font-family: 'Quando', serif;

    color: #ffffff;

    background: url('../image/sky.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content {
    padding: 80px 15px;
    text-align: center;
/*
    padding: 30px 10px;
    margin-top: 50px;
*/
}